<div class="aboutContainer">
  <div class="aboutme">
    <img src="assets/grandcircusheadshots_7.jpg" alt="" />
    <p class="bio animate__animated  animate__zoomInUp">
      My name is Michael VanderLoon and I'm a front end web developer who grew
      up in Michigan but recently relocated to nice and warm south Florida. I've
      been a fan of computers all my life and after many years persuing things
      that didn't truly interest me, I decided it was time to go for something
      that did. I discovered web development at the beginning of 2019 through
      the website Udemy and since then I've not only attented 3 classes on
      there, but also attented a part-time in person bootcamp that lasted 6
      months. Grand Circus, located in Grand Rapids, Michigan is a bootcamp that
      got it's start in Detroit before expanding and opening a second location.
      Their focus is on getting students ready for the work force, by putting
      them through an intense and informative 3 - 6 month training. It was a
      blast and not only did I learn alot but I made friends and learned how to
      work on a team. <br /><br />In addition to being a web developer, I'm also
      a self published author. My specialty is fantasy but I intended on
      tackling many genres throughout my life. Story telling, like web
      development, is a way to create and I love it. I lay the bricks, set the
      foundation and all from writing a few words. Its truly remarkable. If
      you'd like to know more about me, head over to the contact page.
    </p>
  </div>
</div>
