<h1>Contact</h1>
<div *ngIf="modalOpen" class="modalBox">
  <div  class="modal">
    <h1 class="successMessage">Message Sent!</h1>
  </div>
</div>

<div class="contact animate__animated animate__rotateInUpLeft">
  <form  ngNativeValidate class="contact-form container" (submit)="sendEmail($event)">
    <input
      type="text"
      name="name"
      placeholder="Name"
      class="form-control"
     
     
   required
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="form-control"
     
      
   required
    />
    <textarea
      class="message"
      name="message"
      placeholder="Message"
      class="form-control"
     
   
required
    ></textarea>
    <button class="button" type="submit" >Send</button>
  </form>
</div>

