<mat-toolbar class="nav">
  <div *ngIf="(mobile | async).matches" class="icon">
    <mat-icon (click)="nav.toggle()">menu</mat-icon>
  </div>
  <div *ngIf="!(mobile | async).matches" class="listitems">
    <div>
        <a mat-button [routerLink] = "['/']"  ><img class="selfie" src="assets/Cartoonify.png" alt=""></a>
   
    </div>

    <!-- <a mat-button [routerLink]="['/']">Home</a> -->
    <a mat-button [routerLink]="['/about']">About</a>
    <a mat-button [routerLink]="['/projects']">Projects</a>
    <a mat-button [routerLink]="['/blog']">Blog</a>
    <a mat-button [routerLink]="['/contact']">Contact</a>
    <a href="https://github.com/TNT928" target="blank"
      ><i class="fab fa-github fa-lg"></i
    ></a>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #nav mode="over" [(opened)]="opened">
    <mat-list>
      <a mat-list-item (click)="nav.close()" [routerLink]="['/']">Home</a>
      <a mat-list-item (click)="nav.close()" [routerLink]="['/about']">About</a>
      <a mat-list-item (click)="nav.close()" [routerLink]="['/projects']">Projects</a>
      <a mat-list-item (click)="nav.close()" [routerLink]="['/blog']">Blog</a>
      <a mat-list-item (click)="nav.close()" [routerLink]="['/contact']"
        >Contact</a
      >
      <a href="https://github.com/TNT928" target="blank"
        ><i class="fab fa-github fa-lg"></i
      ></a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="image">
      <div class="innerimage"></div>
    </div>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
