<h1 class="title">My Thoughts</h1>

<div class="container">
  <div  class="blog animate__animated animate__zoomInUp">
    <h2>Adapting to the unexpected</h2>
    <h3> Date: 1/25/21</h3>
    <p>
      I think it's safe to say that we all have had to do some adapting these past few months, almost a year at this point.
      It's been a trying time for many. I myself, graduated a bootcamp in March of 2020 excited and eager
      to join the workforce as a web developer. Much to my dismay, the world took a turn for the worse and many employers were forced
      to put hiring on hold. Jobs were dwindling and the economy was facing huge challenges. 
      Since it's been a struggle to obtain employment, I've found myself with an unexpected amount of time on my hands, however
      it hasn't all been bad. I have been able to get a firm grasp on the MERN stack, which has been awesome.
      React is so robust and powerful, its layout so clean, it's been a joy. The project BlockBuster Max, located on the project page 
      was built entirely with the MERN stack. So my next step, in adapting to this new world is to gain knowledge in another 
      language. After much skepticism I started learning PHP, and I have to say, it hasn't been as awkward as I'd feared it would be.
    </p>
  </div>
</div>
